<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('main') }}">Sifflote</a>
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link{% if 'commerce' in current_path %} active{% endif %}" aria-current="page" href="{{ path('commerce_index') }}">Test commerce</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle{% if 'b2' in current_path %} active{% endif %}" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Rejets B2</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item{% if 'b2_titres' in current_path %} active{%  endif %}" href="{{ path('b2_titres') }}">Liste de rejets</a></li>
                        <li><a class="dropdown-item{% if 'b2_extractions' in current_path %} active{%  endif %}" href="{{ path('b2_extractions') }}">Statistiques</a></li>
                        <li><a class="dropdown-item{% if 'b2_extractions' in current_path %} active{%  endif %}" href="{{ path('b2_extractions') }}">Extractions</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">Settings</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if app.user %}
                    {%  if 'ROLE_ADMIN' in app.user.roles %}
                    <li class="nav-item">
                        <a href="{{ path('admin') }}" class="nav-link"><i class="fa-solid fa-screwdriver-wrench"></i></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('profile_index', {id: app.user.id}) }}" class="nav-link"><i class="fa-solid fa-user"></i> {{ app.user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link"><i class="fa-solid fa-power-off"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Me connecter</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="nav-link">M'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>