{% extends 'base.html.twig' %}

{% block title %}Liste des Titres en rejets B2{% endblock %}

{% block body %}
{% include "_partials/_b2.html.twig" %}

    <main class="container">
        <section class="row">
            <div class="d-flex align-items-center mt-3 mb-0 pb-0">
                <div class="col-auto">
                    <label class="visually-hidden" for="autoSizingInputGroup">Recherche</label>
                    <div class="input-group">
                        <div class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg></div>
                        <input type="text" id="search" class="form-control" id="autoSizingInputGroup" placeholder="Recherche">
                        <select class="form-select w-25" id="inputGroupSelect01">
                            <option selected>Globale</option>
                            <option value="1">Type</option>
                            <option value="2">IEP</option>
                            <option value="3">IPP</option>
                            <option value="1">Montant</option>
                            <option value="2">Titre</option>
                            <option value="3">Entrée</option>
                            <option value="2">Sortie</option>
                            <option value="3">Nom</option>
                            <option value="3">Observation</option>
                        </select>
                    </div>
                </div>
                <div class="col-1">
                </div>
                <div class="col-auto">
                    <label class="visually-hidden" for="changePage">Preference</label>
                    <form action="{{ path('b2_changepage') }}" method="post">
                        <div class="input-group">
                            <select class="form-select" id="changePage">
                                <option value="100"{{ app.user.b2LimitPage == 100 ? ' selected' : '' }}>100</option>
                                <option value="500"{{ app.user.b2LimitPage == 500 ? ' selected' : '' }}>500</option>
                                <option value="1000"{{ app.user.b2LimitPage == 1000 ? ' selected' : '' }}>1000</option>
                                <option value="2000"{{ app.user.b2LimitPage == 2000 ? ' selected' : '' }}>2000</option>
                                <option value="All"{{ app.user.b2LimitPage == 0 ? ' selected' : '' }}>Totalité</option>
                            </select>
                            <input type="hidden" name="nbpage" value="500" id="nbpage" />
                            <input type="hidden" name="order" value="{{ order_value }}" id="order" />
                            <input type="hidden" name="sens" value="{{ sens_value }}" id="sens" />

                            <button class="btn btn-outline-secondary" type="submit" id="change_button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                </svg></button>
                        </div>
                    </form>

                </div>
                <div class="col-auto">
                    <span class="align-middle">&nbsp; Rejets par Page - Page(s) {{ page }} / {{ (total / limit)|round(0, 'ceil') }}</span>
                </div>
            </div>
<small id="searchHelp" class="form-text text-muted"><span class="text-danger">Attention la recherche s'effectue uniquement sur cette page.</span></small>

            <table class="table table-bordered table-sm table-hover table-striped" id="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'type/asc' %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'type',sens: 'desc'}) }}">
                        {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'type',sens: 'asc'}) }}">
                        {% endif %}
                                Type
                                {% if sort == 'type/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'type/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'iep/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'iep',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'iep',sens: 'asc'}) }}">
                                {% endif %}
                                IEP
                                {% if sort == 'iep/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'iep/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'ipp/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'ipp',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'ipp',sens: 'asc'}) }}">
                                {% endif %}
                                IPP
                                {% if sort == 'ipp/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'ipp/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'montant/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'montant',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'montant',sens: 'asc'}) }}">
                                {% endif %}
                                Montant
                                {% if sort == 'montant/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'montant/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% elseif sort == '/' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'reference/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'reference',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'reference',sens: 'asc'}) }}">
                                {% endif %}
                                Titre - Lot
                                {% if sort == 'reference/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'reference/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'enter_at/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'enter_at',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'enter_at',sens: 'asc'}) }}">
                                {% endif %}
                                Entrée
                                {% if sort == 'enter_at/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'enter_at/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'exit_at/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'exit_at',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'exit_at',sens: 'asc'}) }}">
                                {% endif %}
                                Sortie
                                {% if sort == 'exit_at/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'exit_at/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'name/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'name',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'name',sens: 'asc'}) }}">
                                {% endif %}
                                Nom
                                {% if sort == 'name/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'name/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col" class="text-nowrap">
                        {% if sort == 'rprs/asc' %}
                        <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'rprs',sens: 'desc'}) }}">
                            {% else %}
                            <a class="text-decoration-none" href="{{ path('b2_titres', {order: 'rprs',sens: 'asc'}) }}">
                                {% endif %}
                                RPRS
                                {% if sort == 'rprs/asc' %}
                                    <i class="fa-solid fa-sort-up"></i>
                                {% elseif sort == 'rprs/desc' %}
                                    <i class="fa-solid fa-sort-down"></i>
                                {% else %}
                                    <i class="fa-solid fa-sort"></i>
                                {% endif %}
                            </a>
                    </th>
                    <th scope="col-2" class="text-nowrap"><a href="#">Observation <i class="fa-solid fa-sort"></i></a></th>
                </tr>
                </thead>
                <tbody>
                {% set count = 0 %}
                {% for titre in titres %}
                    {% set count = count + 1 %}
                <tr id="titre-{{ titre.reference }}">
                    <td>{{ count + (page * limit) - limit }}</td>
                    <td>{{ titre.type }}<div class="jumptarget" id="{{ titre.reference }}"></div></td>
                    <th scope="row">{{ titre.iep }}</th>
                    <td>{{ titre.ipp }}</td>
                    <td class="text-end"><figure><blockquote class="">{{ titre.montant|format_currency('EUR', locale='fr') }}</blockquote><figcaption class="blockquote-footer">{{ titre.encaissement|format_currency('EUR', locale='fr') }}</figcaption></figure></td>
                    <td class="text-end"><figure><blockquote class=""><a href="{{ path('b2_titre_details', {ref: titre.reference }) }}" class="link-dark ">{{ titre.reference }}</a></blockquote><figcaption class="blockquote-footer">{{ titre.lot }}</figcaption></figure></td>
                    <td>{{ titre.enterAt|date("d/m/Y") }}</td>
                    <td>{{ titre.exitAt|date("d/m/Y") }}</td>
                    <td><figure><blockquote class="">{{ titre.name }}</blockquote><figcaption class="blockquote-footer">{{ titre.payeur }}</figcaption></figure></td>
                    <th scope="row">{% if titre.rprs == 1 %}<div class="text-success"><i class="fa-solid fa-toggle-on"></i></div>{% else %}<i class="fa-solid fa-toggle-off"></i>{% endif %}</th>
                    <td>
                        {% for ttt in titre.traitements %}
                        {% if loop.last %}
                        <a href="{{ path('b2_titre_details', {ref: titre.reference }) }}" class="link-dark">
                            <button type="button" class="btn-sm btn-{{ ttt.observation.bgcolor }} text-{{ ttt.observation.color }}" data-toggle="tooltip" data-html="true" title="{{ ttt.precisions }}  {{ ttt.user.username }}, le {{ ttt.traiteAt|date('d/m/Y') }}">
                                {{ ttt.observation.name }}{% if ttt.precisions is not empty %} <i class="fa-solid fa-eye"></i>{% endif %}
                            </button>
                        </a>
                        {% endif %}
                        {% endfor %}
                        {% if titre.traitements is empty %}
                            <a href="{{ path('b2_titre_details', {ref: titre.reference }) }}" class="link-dark">
                            <button type="button" class="btn-sm btn-outline-danger text-danger" data-toggle="tooltip" data-html="true" title="">
                                NON TRAITE / NOUVEAU
                            </button>
                            </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-sm justify-content-end">
                    <li class="page-item{{ (page == 1) ? ' disabled' : '' }}">
                        {%  set previous = (page - 1) %}
                        <a class="page-link" href="{{ path('b2_titres', {page: previous, order: order_value, sens: sens_value}) }}" aria-label="Previous">
                            <span aria-hidden="true"><i class="fa-solid fa-angle-left"></i></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    {% for item in 1..((total / limit)|round(0, 'ceil')) %}
                        <li class="page-item {{ (page == item) ? 'active' : '' }}"><a class="page-link" href="{{ path('b2_titres', {page: item, order: order_value, sens: sens_value}) }}">{{ item }}</a></li>
                    {% endfor %}

                    {%  set pages = (total / limit)|round(0, 'ceil') %}
                    <li class="page-item{{ (page == pages) ? ' disabled' : '' }}">
                        {% set next = (page + 1) %}
                        <a class="page-link" href="{{ path('b2_titres', {page: next, order: order_value, sens: sens_value}) }}" aria-label="Next">
                            <span aria-hidden="true"><i class="fa-solid fa-angle-right"></i></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
    </main>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('rejets') }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
    if(window.location.hash) {
        const hash = window.location.hash.substring(1);
        var t = 'titre-'+ hash
        function onload() {
            document.getElementById(t).className = " table-info";
        }
        window.onload = onload;
        // hash found
    }
    </script>
{% endblock %}