{% extends 'base.html.twig' %}

{% block title %}Upload fichier B2!{% endblock %}
{% block body %}
    <section class="container my-3">
    <div class="row">
        <div class="col">
            <div class="col-lg-8">
                {{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }}) }}
                <div class="form-group">
                    {{ form_label(form.upload_file) }}
                    {{ form_widget(form.upload_file) }}
                    {{ form_errors(form.upload_file) }}
                </div>
                <div class="form-group">
                    <label for="range" class="form-label">Nombre de ligne par fichier</label>
                    <input type="range" class="form-control-range" min="100" max="1000" step="50" id="range" name="range" value="250" onInput="$('#rangeVal').html($(this).val())">
                    <span id="rangeVal">200<!-- Valeur par défaut --></span>
                </div>
                <div class="form-group">
                    <label for="startDate">Date de l'extraction</label>
                    <input id="startDate" name="extractionDate" type="datetime-local" class="form-control form-control-sm" />
                </div>
                <div class="form-group">
                    {{ form_widget(form.send, {'label': "Upload this file", 'attr' : { 'class': 'btn btn-primary' }}) }}
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </section>
{% endblock %}