{% extends 'base.html.twig' %}

{% block title %}Profil :: Paramètre B2{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body{margin-top:20px;
            background-color:#f2f6fc;
            color:#69707a;
        }
        .img-account-profile {
            height: 10rem;
        }
        .rounded-circle {
            border-radius: 50% !important;
        }
        .card {
            box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
        }
        .card .card-header {
            font-weight: 500;
        }
        .card-header:first-child {
            border-radius: 0.35rem 0.35rem 0 0;
        }
        .card-header {
            padding: 1rem 1.35rem;
            margin-bottom: 0;
            background-color: rgba(33, 40, 50, 0.03);
            border-bottom: 1px solid rgba(33, 40, 50, 0.125);
        }
        .form-control, .dataTable-input {
            display: block;
            width: 100%;
            padding: 0.875rem 1.125rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1;
            color: #69707a;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #c5ccd6;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 0.35rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .nav-borders .nav-link.active {
            color: #0061f2;
            border-bottom-color: #0061f2;
        }
        .nav-borders .nav-link {
            color: #69707a;
            border-bottom-width: 0.125rem;
            border-bottom-style: solid;
            border-bottom-color: transparent;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0;
            padding-right: 0;
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .btn-danger-soft {
            color: #000;
            background-color: #f1e0e3;
            border-color: #f1e0e3;
        }</style>
{% endblock %}
{% block body %}
    <div class="container-xl px-4 mt-4">
        <!-- Account page navigation-->
        {% include 'user/_nav_profile.html.twig' %}
        <hr class="mt-0 mb-4">
        <div class="row">
            <div class="col-lg-8">
                <!-- Email notifications preferences card-->
                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Réglages B2
                    </div>
                    <div class="card-body">
                        <form action="{{ path('profile_user.edit.b2.json', {id: app.user.id}) }}" method="POST">
                            <!-- Form Group (default email)-->
                            <label class="small mb-1" for="inputRejetPerPage">Nombre de rejets par page</label>
                            <div class="mb-3 input-group">
                                <select class="form-control" id="inputRejetPerPage" name="RejetPerPage" type="number" value="{{ app.user.b2RejetsPerPage }}">
                                    <option value="100">100</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="2000">2000</option>
                                    <option value="-1">Totalité</option>
                                </select>
                                <button class="btn btn-outline-primary" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
                <!-- SMS push notifications card-->
                <div class="card card-header-actions mb-4">
                    <div class="card-header">
                        Notifications
                        <div class="form-check form-switch">
                            <input class="form-check-input" id="smsToggleSwitch" type="checkbox" checked="">
                            <label class="form-check-label" for="smsToggleSwitch"></label>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (default SMS number)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="inputNotificationSms">Default SMS number</label>
                                <input class="form-control" id="inputNotificationSms" type="tel" value="123-456-7890" disabled="">
                            </div>
                            <!-- Form Group (SMS updates checkboxes)-->
                            <div class="mb-0">
                                <label class="small mb-2">Choose which types of push notifications you receive</label>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="checkSmsComment" type="checkbox" checked="">
                                    <label class="form-check-label" for="checkSmsComment">Someone comments on your post</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="checkSmsShare" type="checkbox">
                                    <label class="form-check-label" for="checkSmsShare">Someone shares your post</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="checkSmsFollow" type="checkbox" checked="">
                                    <label class="form-check-label" for="checkSmsFollow">A user follows your account</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" id="checkSmsGroup" type="checkbox">
                                    <label class="form-check-label" for="checkSmsGroup">New posts are made in groups you're part of</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" id="checkSmsPrivateMessage" type="checkbox" checked="">
                                    <label class="form-check-label" for="checkSmsPrivateMessage">You receive a private message</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Notifications preferences card-->
                <div class="card">
                    <div class="card-header">Notification Preferences</div>
                    <div class="card-body">
                        <form>
                            <!-- Form Group (notification preference checkboxes)-->
                            <div class="form-check mb-2">
                                <input class="form-check-input" id="checkAutoGroup" type="checkbox" checked="">
                                <label class="form-check-label" for="checkAutoGroup">Automatically subscribe to group notifications</label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" id="checkAutoProduct" type="checkbox">
                                <label class="form-check-label" for="checkAutoProduct">Automatically subscribe to new product notifications</label>
                            </div>
                            <!-- Submit button-->
                            <button class="btn btn-danger-soft text-danger" type="submit">Unsubscribe from all notifications</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            document.getElementById('inputRejetPerPage').value = '{{ app.user.b2RejetsPerPage }}';
        });
    </script>
{% endblock %}